.customerRewards {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.539), lightblue);
    box-shadow: 0px 2px 20px 0px #1527b3;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;

    ::-webkit-scrollbar {
        width: 4px !important;
    }

    ::-webkit-scrollbar-track {
        background: #7373f8 !important;
    }

    h3,
    h4 {
        color: #fff;
    }

    .totalRewardPoints {
        font-size: 15px;
        color: #fff;
        text-align: right;
        margin-top: 20px;
    }

    .rewardTable thead th {
        font-size: 12px;
        color: #7678f6;
        font-weight: bold;
    }

    .rewardTable tbody th {
        font-size: 12px;
    }
}